@using BugTracker.Helpers
@using BugTracker.Models

@model IEnumerable<BugTracker.Models.Project>


@{
    ViewBag.Title = "Manage User Projects";

    var projectHelper = new ProjectManagerHelper();
}

@using (Html.BeginForm("ManageUserProjects", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UserId", (string)ViewBag.UserId)
    <div class="row">
        <div class="col-md-offset-2 col-md-5">
            @Html.ListBox("Projects", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Assign" class="btn btn-default" />
        </div>
    </div>
}
